@charset "UTF-8";

:root{
    --corFooter: #212121;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    /* background-color: #212121; */
    width: 100vw;
    height: 95vh;
    background: #494949 url('../imgs/home-windows11.png') top no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.modal{
    flex-shrink: 0;
    /* min-width: 25%; */
    height: 75%;
    width: 30%;
    margin-bottom: 20px;
    background-color: #1f1c1c;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    opacity: .99;
}

.modal-body{
    width: 100%;
    height: 92%;  
    display: flex;
    justify-content: center;
}

.modal-body > .input-search{
    width: 90%;  
    margin-top: 25px;
    padding-left: 35px;
    /* background-color: red; */
}

.modal-body > i {
    color: #CBD0D2;
    position: absolute;
    left: 37.2%; 
    top: 25.1%;
}

.modal-footer{
    width: 100%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.336);
    align-self: flex-end;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.527);
}

footer{
    width: 100vw;
    height: 5vh;
    background-color: var(--corFooter);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer > .container-weather{
    margin-left: 15px;
    color: white;
    display: flex;
    align-items: center;
    height: 38px;
    width: 92px;
    padding: 5px;
}

footer > .container-weather:hover{
    background-color: #272727;
    border-radius: 6px;
}

footer > .container-weather > p{
    font-size: 15px;
    margin-left: 10px;
}

footer > .container-search > button{
    background-color: var(--corFooter);
    border: none;
    height: 38px;
    width: 42px;
}

footer > .container-search > button:hover{
    transition: background-color .1s;
    background-color: #272727;
    border-radius: 6px;
}

.container-search{
    position: relative;
    display: flex;
    align-items: center;
}

.input-search{
    border: 1px solid #919090;
    color: white;
    background-color: #404040;
    padding-left: 30px;
    border-radius: 20px;
    display: inline-block;
    height: 30px;
    width: 220px;
}

.input-search:hover{
   background-color: #494949;
   transition: background-color .3s;
}

.container-search > i {
    color: #CBD0D2;
    position: absolute;
    left: 52px; 
    top: 30%;
}

.container-devices{
    /* flex: 1 1 auto; */
    color: white;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.hover-class{
    display: flex;
    align-items: center;
    padding: 5px;
    /* height: 40px; */
    text-align: end;
    vertical-align: middle;
}

.hover-class:hover{
    background-color: #3b3b3b;
    border-radius: 6px;
    
}

.hover-class > i{
    margin-left: 5px;
    margin-right: 5px;
}

.hover-class > p{
    font-size: 15px;
}
  

